@media screen and (min-width: 1000px) {
    .main-detail {
        width: 100%;;
        height: calc(100vh - 80px);
        margin: 80px 0 0 0;
        background-color: #202020;
    }
    .app {
        width: 100%;
        margin: 0 auto;
        height: calc(100vh - 80px);
    }
    .mb-h4 {
        display: none;
    }
    .carousel {
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    .carousel__main {
        width: 99%;
        height: calc(100vh - 80px);
        margin: 0 10px 0 0;
        background-color: #fff;
        position: relative;
    }
    .carousel__main img {
        width: 80%;
        height: auto;
        margin: 0 0 0 10%;
        display: block;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 80px);
    }
    .carousel__prev {
        position: absolute;
        top: 40%;
        bottom: 40%;
        left: 3%;
        z-index: 20;
        cursor: pointer;
        color: rgb(136, 136, 136, 0.4);
    }
    .carousel__next {
        position: absolute;
        top: 40%;
        bottom: 40%;
        right: 3%;
        cursor: pointer;
        color: rgb(136, 136, 136, 0.4);
    }
    .carousel__prev:hover {
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    .carousel__next:hover {
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    .thumbnails {
        width: 20%;
    }
    .thumbnails h4 {
        color: #fff;
        font-size: 20px;
        margin: 20px 0 15px;
        font-family: 'Heebo', sans-serif;
        font-weight: bold;
    }
    .carousel__thumbnails {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }
    .carousel__thumbnails li {
        cursor: pointer;
        opacity: 0.4;
        width: 48%;
        height: auto;
        margin: 0px 0;
        padding: 0;
    }
    .carousel__thumbnails li:hover {
        opacity: 1;
    }
    .carousel__thumbnails li.current {
        opacity: 1;
    }
    .carousel__thumbnails img {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .active-enter {
        opacity: 0;
    }
    .active-enter-to {
        opacity: 1;
    }
    .active-enter-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
    .active-leave {
        opacity: 1;
    }
    .active-leave-to {
        opacity: 0;
    }
    .active-leave-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
    .app {
        width: 100%;
        height: auto;
    }
    .mb-h4 {
        color: #fff;
        font-size: 24px;
        margin: 20px 0 15px 40px;
        font-family: 'Heebo', sans-serif;
        font-weight: bold;
    }
    .main-detail {
        width: 100%;
        height: auto;
        background-color: #202020;
        margin: 80px 0 0 0;
    }
    .carousel {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .carousel__main {
        width: 100%;
        height: auto;
        position: relative;
    }
    .carousel__main img {
        width: 100%;
        height: auto;
    }
    .carousel__prev {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        
        left: 2%;
        z-index: 20;
        cursor: pointer;
        color: rgb(136, 136, 136, 0.4);
    }
    .carousel__next {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        
        right: 2%;
        cursor: pointer;
        color: rgb(136, 136, 136, 0.4);
    }
    .thumbnails {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .thumbnails h4 {
        display: none;
    }
    .carousel__thumbnails {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }
    .carousel__thumbnails li {
        cursor: pointer;
        opacity: 0.4;
        width: 16%;
        height: auto;
        margin: 0px 0;
        padding: 0;
    }
    .carousel__thumbnails li:hover {
        opacity: 1;
    }
    .carousel__thumbnails li.current {
        opacity: 1;
    }
    .carousel__thumbnails img {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .active-enter {
        opacity: 0;
    }
    .active-enter-to {
        opacity: 1;
    }
    .active-enter-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
    .active-leave {
        opacity: 1;
    }
    .active-leave-to {
        opacity: 0;
    }
    .active-leave-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
}

@media screen and (max-width: 759px) {
    .main-detail {
        width: 100%;
        height: auto;
        background-color: #202020;
        margin: 60px 0 0 0;
    }
    .app {
        width: 100%;
        height: auto;
    }
    .mb-h4 {
        color: #fff;
        font-size: 20px;
        margin: 0px 0 0px 40px;
        padding: 10px 0 0 0;
        font-family: 'Heebo', sans-serif;
        font-weight: bold;
    }
    .carousel {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .carousel__main {
        width: 100%;
        height: auto;
        position: relative;
    }
    .carousel__main img {
        width: 100%;
        height: auto;
    }
    .carousel__prev {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 14px;
        left: 2%;
        z-index: 20;
        cursor: pointer;
        color: rgb(136, 136, 136, 0.4);
    }
    .carousel__next {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 14px;        
        right: 2%;
        cursor: pointer;
        color: rgb(136, 136, 136, 0.4);
    }
    .thumbnails {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .thumbnails h4 {
        display: none;
    }
    .carousel__thumbnails {
        width: 100%;
        height: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }
    .carousel__thumbnails li {
        cursor: pointer;
        opacity: 0.4;
        width: 16%;
        height: auto;
        margin: 0px 0;
        padding: 0;
    }
    .carousel__thumbnails li:hover {
        opacity: 1;
    }
    .carousel__thumbnails li.current {
        opacity: 1;
    }
    .carousel__thumbnails img {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .active-enter {
        opacity: 0;
    }
    .active-enter-to {
        opacity: 1;
    }
    .active-enter-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
    .active-leave {
        opacity: 1;
    }
    .active-leave-to {
        opacity: 0;
    }
    .active-leave-active {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }
}